*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.banner{ 
   max-width: 100%; 
    
   
}
main{
    background-color: #efefef;
}
.contenedor-banner{
    width: 100%;
    object-fit: cover;
    
}
nav ul li a{
    text-decoration: none;
    color: #FF0000;
}

.footer-sup{
    text-decoration: none;
    background: rgb(0,0,0);
    background: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(4,4,4,1) 12%, rgba(245,253,255,1) 100%);
    color: #e0c8c8;
    
    font-size: 1rem;
    font-weight: 600;
    height: 12rem;
    padding: 2rem 0 0 2rem;

}
footer div ul li a{
    text-decoration: none;
    color: black;
    
}
footer div ul{
    list-style: none;
}

.footer-low{
    background-color: black;
    color: #efefef;
}
.footer-low p{
    font-size: .9em;
    text-align: right;
    margin-right: 2em;
}
nav ul{
    background-color: #fff;
}

nav ul li{
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    font-weight: 600;
}
nav ul li:hover{
    text-decoration:overline;
    
}
nav{
    background-color: #fff;
    max-height: 120px;
    display: block;
}
nav div{
    background-color: #fff;
}
.contenedor-nav-logo{
    background-color: #fff;
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    justify-content: center;

}
.nav-bar {
    background-color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    height: 80px;
    margin: auto;
    justify-content: space-around;
}


.logo{
    max-height: 120px;
    margin-left: 3rem;
    
}
p{
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 32px;
    padding-bottom: 32px;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.subtitulo-comidas{
    text-align: center;
}
.contenido-main{
    margin-right: 3.75em;
    margin-left: 3.75em;
}
.tarjeta-home:hover{
    box-shadow:
        inset 
        1em 3em 3em rgba(0,0,0,0.8),
        0.5em 0.5em 0.5em rgba(0,0,0,0.6) ;
        transition: .5s;
}
.tarjetas-secciones{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-around;
}
.tarjeta-home{
    /* border: 1px solid black; */
    border-radius: 5px;
    max-width: 40.5em;
    aspect-ratio: 4.5/3;
    margin-bottom: 1rem;
    object-fit: cover;
}

.contenedor-video{
    
    width: 100%;
    padding: 3rem 0 3rem 0;
    
}
.contenedor-video iframe{
    display: block;
    margin: 0 auto;
    
}

.tarjetas-escapadas{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    
}
.lista-fiestas ul li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.lista-fiestas ul{
    padding-bottom: 10px;
}
#subtitulo-galeria{
    text-align: center;
}


.tarjetas-escapadas{
    height: 62vh;
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "foto-escapada titulo-escapada"
                         "foto-escapada texto-escapada";

}
.imagen-tarjeta-escapada{
    grid-area: foto-escapada;
    max-width: 100%; 
    padding: 3px 0 0 3px;
    overflow: hidden;
}
.titulo-tarjeta-escapada{
    grid-area: titulo-escapada;
    margin-left: 1rem;
}
.texto-tarjeta-escapada{
    grid-area: texto-escapada;
    margin-left: 0.5rem;
}
.imagen-comida{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 43.75em;
    padding-bottom: 1rem;
}
.galeria{
    width: 100%;
    
    /* align-items: center; */
    /* align-content: center; */
    /* border-radius: 10px; */
    
    padding: 30px;
}
.contenedor-cards{
    display: flex;
    width: 84.375em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2em auto;


}

.card{
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.526);
    overflow: hidden;
    width: 26.25em;

}

.card-img img {
    width: 100%;
    height: 18.75em;
    object-fit: cover;
}
.contenedor-tarj-ciudad{
    width: 90%;
    align-content: center;
    margin: auto;
    
    margin: auto;
    display: block;
}
.tarjeta-ciudad{
    width: 100%;
    display: flex;
    overflow: hidden;
    
    border: 3px solid black;
    border-radius: 1rem;
    margin: 2rem 0 3.5rem 0;
}
.imagen-tarj-ciudad img{
    object-fit: cover;
    width: 50vw;
    overflow: hidden;
    max-height: 60vh;
}
.texto-tarj-ciudad{
    margin: 1rem;
    width: 60vw;
}
.texto-tarj-ciudad h4{
    margin-bottom: 1rem;
}
.boton-tarj-ciudad{
    width: 140px;
    height: 41px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #FF0000;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#map iframe{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: block;
    align-items: center;
    
}

@media only screen and (max-width: 500px){
    body{
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    header{
        grid-area: header;

    }
    main{
        grid-area: main;
        width: 500px;
    }
    .footer-sup{
        grid-area: footer;
    }
    .contenedor-nav-logo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"logo"
                            "bar";
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        height: 180px;
    }
    nav ul li{
        display: inline;
        padding: 0;
        font-weight: 600;
        justify-content:space-around;
        justify-items: center;
    }
    nav ul li a{
        font-size: 0.8rem;
        display:inline;
        margin: 0 0.5em;
        
        
    }
    nav{
        max-height: 12.5em;
    }
    .logo{
        grid-area: logo;
        max-height: 7em;
        align-items: center;
        margin: 0 auto;
        align-content: center;
        display: block;
        
    }
    /* img.logo{
        margin: 0 auto;
        text-align: center;
    } */
    /* .logo img{
        display: inline;
        
        align-content: center;
    } */
    .nav-bar ul{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    
    div .nav-bar{
        width: 100%;
     
    }
    .nav-bar {
        display: flex;
        grid-area: bar;
        height: 80px;
        margin: 0;
        width: 100%;
        justify-content:space-around;
        /* justify-items: center; */
        display:inline-block;
        
    }
    .contenedor-video iframe{
        display: block;
        margin: 0 auto;
        max-width: 90%;  
        height: 20em; 
    }
    .contenido-main{
        max-width: 100%;
    }
    .tarjetas-secciones{
        max-width: 90%;
    }
    .map {
        /* display: block; */
        width: 90%;
        height: 40em;
    }
    .imagen-comida{
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        max-width: 100%;
        /* padding-bottom: 1rem; */
    }
    .tarjeta-home{
        
        border: 1px solid black;
        border-radius: 5px;
        max-width: 100%;
        /* aspect-ratio: 4.5/3; */
        margin-bottom: 1rem;
        object-fit: cover;
    }
    .contenido-main{
        margin-right: 1em;
        margin-left: 1em;
    }
    .tarjetas-secciones{
        /* width: 100%; */
        /* display: flex; */
        display: inline;
        /* flex-wrap: wrap; */
        /* flex-direction:column; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-top: 2rem;
        margin-bottom: 2rem;
        /* justify-content: space-around; */
    }
    .tarjetas-secciones div{
        width: 100%;
    }
}